.characterDiv{
	height: 100%;
	padding-top: 5rem;
	display: flex;
	justify-content: space-evenly;
	z-index: 0;
}

.characterInfo{
	position: relative;
	width: 600px;
	border: 1px solid #588157;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: -15px 11px 30px 0px rgba(107,112,92,1);
}

.nameCharacter{
	color: yellow;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: block;
	font-size: 35px;
	letter-spacing: 1px;
  text-shadow: 
    0 0 10px yellow,
    0 0 20px lime,
    0 0 40px green,
    0 0 80px darkgreen;
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) 1s 1s infinite;
}

.characterInfo h2{
	border-bottom: 1px solid #588157;
	padding: 1rem 0;
	color: #fff;
}

.characterInfo h2:last-child{
	border: none;
	padding-bottom: 0;
}

.characterImage{
	border: 15px double #70e000;
	border-radius: 10px;
	background: repeating-linear-gradient(
		45deg,
		#073b4c,
		#073b4c 10px,
		#06d6a0 10px,
		#06d6a0 20px
	);
}

@media (max-width: 768px) {
	.characterDiv{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
	}
	.characterInfo{
		width: 500px;
		padding: 1rem;
		margin-bottom: 2rem;
	}
	.characterImage{
		order: -1;
		margin-bottom: 2rem;
	}
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}
