.Card{
	width: 325px;
  height: 400px;
	padding: 5px;
	margin-left: 10px;
	display: inline-block;
  position: relative;
  z-index: 0;
}

.Card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 6px solid #70e000;
  border-radius: 10px;
  transition: all .5s;
  animation: clippath 10s infinite linear;
}

.Card-img{
  width: 100%;
  margin-top: .5rem;
  border-radius: 10px;
}

.Card-img__link{
  text-decoration: none;
  color: yellow;
	font-family: "Montserrat", sans-serif;
  display: block;
	font-size: 35px;
	letter-spacing: 3px;
  text-shadow: 
    0 0 10px yellow,
    0 0 20px lime,
    0 0 40px green,
    0 0 80px darkgreen;
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) 4s 1s infinite;
}

.Card h2 {
	font-size: 1.4rem;
	padding: 10px 0;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.Card-btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: .5rem 0;
  position: relative;
  z-index: 1;
}

.Card-btn button{
  margin: 0 2.5rem;
}

.likeBtn {
	background-color: #ff69b4;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 5px;
}

.dislikeBtn {
	background-color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 5px;
}

.closeBtn {
  margin-top: 5px;
	margin-bottom: 5px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 150ms;
	background-color: #ef233c;
	font-size: large;
}

.closeBtn:hover,
.closeBtn:focus {
	transform: rotateZ(180deg);
	background-color: #d90429;
}

.Card-content {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.Card:hover .Card-content {
  opacity: 1;
}

.Card:hover .Card-img {
  opacity: 0;
}

/* Keyframes */
@keyframes clippath {
  0%,
  100% {
      clip-path: inset(0 0 95% 0);
  }
  
  25% {
      clip-path: inset(0 95% 0 0);
  }
  50% {
      clip-path: inset(95% 0 0 0);
  }
  75% {
      clip-path: inset(0 0 0 95%);
  }
}