.Cards{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 30px;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

.noCards {
	margin-top: 1rem;
	color:#b5e2fa;
}

@media (max-width: 768px) {
	.Cards{
		width: 768px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 1rem;
		margin-bottom: 4rem;
	}
}