.About{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 1rem 3rem;
	display: flex;
	flex-direction: column;
	text-align: start;
	font-family: sans-serif;
	position: relative;
	z-index: 0;
}

/* Header About */
.headerAbout{
	height: 100%;
	padding-bottom: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.headerAbout-titulo{
	display: flex;
	flex-direction: column;
	color: #d8f3dc;
	font-size: 40px;
	font-weight: 700;
	font-style: italic;
	padding: 1rem 0;
}

.headerAbout-titulo span{
	font-size: 45px;
  background: -webkit-linear-gradient(#8360c3, #ffd452);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Header info div */
.headerAbout-info{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

/* Header info perfil */
.headerAbout-profile{
	margin: 2rem;
}

.headerAbout-text {
	color: #fff;
}

/* Card profile */
.profile-card{
	width: 250px;
	height: 250px;
	background: #f5f5f5;
	position: relative;
	box-shadow: 0px 2px 5px rgba(35,35,35,0.3);
	transition: box-shadow .3s ease-in-out;
}

.profile-card__info{
	position: absolute;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	padding: 1rem;
}

/* Card profile image */
.profile-card__img{
	height: 100%;
	width: 100%;
	position: absolute;
	transition: transform .3s ease-in-out;
	z-index: 2;
	cursor: pointer;
}

/* Buttons social media */
.profile-card__social-media{
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem;
	transform: translateY(-370%);
	z-index: 2;
}

.profile-card__social-media li{
	background: #f5f5f5;
	padding: 10px 12px;
	border-radius: 50%;
	cursor: pointer;
	opacity: 0;
	transition: all .3s ease-in;
}

.profile-card__social-media img{
	width: 25px;
	height: 25px;
}

/* Texto Perfil */
.profile-card__name{
	width: 100%;
	font-size: 1.5rem;
	font-weight: 500;
}

.profile-card__work{
	letter-spacing: 1px;
	font-size: 1rem;
}

ul{
	list-style: none;
}

/* Hover Profile */
.profile-card:hover{
	box-shadow: 1px 2px 10px rgba(35,35,35,0.5);
}

.profile-card:hover .profile-card__img{
	transform: translateY(-70%);
}

.profile-card:hover .profile-card__social-media li{
	transform: translateY(-5%);
	opacity: 1;
}

.profile-card:hover .profile-card__social-media li:nth-child(1):hover{
	background-color: #0073B1;
	box-shadow:  0px 0px 12px 5px #2d7aa4;
}

.profile-card:hover .profile-card__social-media li:nth-child(2):hover{
	background-color: #F70000;
	box-shadow:  0px 0px 12px 5px #ff5656;
}

.profile-card:hover .profile-card__social-media li:nth-child(3):hover{
	background-color: #fff;
	box-shadow:  0px 0px 12px 5px #5e5e5e;
}

/* Header info parrafo */
.headerAbout p{
	margin: 1rem 8rem;
}

/* Secciones about */
.mainAbout{
	height: 100%;
	text-align: center;
}

.sectionAbout{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.sectionAbout-titulo{
	margin-bottom: 1rem;
	margin-left: 42%;
	margin-right: 42%;
	color: #d8f3dc;
	font-size: 30px;
	font-style: italic;
	border-bottom: 7px solid transparent;
	border-image: linear-gradient(to right, #a8ff78, #78ffd6) 1;
}

/* Mision */ 

.sectionAbout-mision{
	width: 50%;
	height: 110px;
	padding: 2rem;
	margin: 1rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: oblique;
	font-size: 17px;
	border-radius: 20px;
	color: #fff;
	background: #0000003e;
	box-shadow: 0px 0px 15px 0px #d8f3dc;
}

/* Tecnologias */

.sectionAbout-techs{
	margin: 1rem 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

/* Card Tech */
.cardTech {
  width: 190px;
  height: 230px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 20px;
  background: #000;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
}

.cardTech:hover {
  width: 190px;
  height: 230px;
  background: #ffffff;
  border: 2px solid #c8c8c8;
  border-radius: 20px;
  transition: all .5s;
	cursor: pointer;
}

.cardTech-title{
	width: 100%;
	color: #dfdfdf;
	margin-bottom: 10px;
}

.cardTech:hover .cardTech-title{
	color: #000;
}

.secondAnimation:hover,
.secondAnimation:focus {
	width: 190px;
  animation: cardAnimacion 1.4s;
  box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0);
  border-radius: 20px;
}

/* Contacto */
.form-contact{
	display: flex;
  flex-direction: column;
	align-items: center;
	margin: 3rem 16rem;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  #0eae57 0%, #0c7475 90% );
  padding: 20px;
  border-radius: 10px;
}

.form-contact__title{
  width: 40%;
	margin: 0;
}

.form-contact__description{
	line-height: 1.5rem;
  font-size: 1rem;
	margin-top: 1rem;
  color: #d8f67e;
}

.form-contact-email{
	display: flex;
	flex-direction: column;
	align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

.form-contact-email__input,
.form-contact-email__message{
	width: 250px;
	outline: none;
  line-height: 1.5rem;
  font-size: 1rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 0.875rem;
  background-color: transparent;
  border: 1px solid #0c7475;
  border-radius: 0.375rem;
}

.form-contact-email__input::placeholder,
.form-contact-email__message::placeholder{
	color: #fff;
	font-weight: 400;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-contact-email__input:focus,
.form-contact-email__message:focus{
  border: 1px solid #78ffd6;
}

.form-contact-email__btn{
	width: 8rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: #ccff33;
	color: #004b23;
  border-radius: 0.375rem;
  border: none;
  outline: none;
	cursor: pointer;
}

.form-contact-email__btn:hover{
	background-color: #95f06b;
	border: 2px solid #008000;
}

/* MediaQuerys */
@media (max-width: 768px) {
	.headerAbout-info{
		flex-direction: row;
		background-color: #0000002a;
		box-shadow: 0px 0px 15px 0px #d8f3dc;
		border-radius: 10px;
	}
	.headerAbout-profile{
		margin: 0;
	}
	.profile-card__info{
		display: block;
	}
	.headerAbout-info p{
		margin-left: 3rem;
		text-align: start;
	}
	.mainAbout{
		text-align: start;
		align-items: center;
	}
	.sectionAbout-titulo{
		width: 25%;
		margin: 1rem 0;
	}
	.sectionAbout-mision{
		width: 100%;
		margin: 0;
	}
	.sectionAbout-techs{
		margin: 1rem 0;
		grid-template-columns: repeat(3, 1fr);
	}
	/* Form contact */
	.form-contact{
		align-items: start;
		margin: 2rem 0;
	}
	.form-contact * {
		margin-left: 1.5rem;
	}
	.form-contact__title{
		width: 35%;
	}
	.form-contact__description{
		margin-top: 0;
	}
	.form-contact-email{
		width: 80%;
		align-items: start;
	}
	.form-contact-email__input{
		width: 60%;
	}
	.form-contact-email *{
		margin-left: 0;
	}
}

/* Keyframes */
@keyframes cardAnimacion {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
